.home-container {
    margin-top: 2.3em;
    
    h1 {
        font-weight: 400;
        text-align: center;
        padding: 1em;
    }
    h2 {
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 1.7;
        color: #666;
        text-align: center;
    }
    .create-campaign {
        margin-top: 2em;
    }
        
    // .card-campaign, .card-donation {
    //     width: 350px;
    //     height: 450px;
    //     position: relative;

    //     -webkit-background-size: cover;
    //     -moz-background-size: cover;
    //     -o-background-size: cover;
    //     background-size: cover;
    //     h2 {
    //         width: 100%;
    //         text-align: center;
    //         position: absolute;
    //         bottom: 0.5em;
    //     }
    // }

    // .card-campaign {
    //     // background-color: white;
    //     background: url('/assets/austin-neill-308610-unsplash-small.jpg');//no-repeat center center fixed;
        
    // }

    // .card-donation {
    //     // background-color: white;
    //     background: url('/assets/catrin-johnson-486192-unsplash-small.jpg');//no-repeat center center fixed;
        
    // }
    // .jumbotron { 
    //     background-color: #8DC052;  //#f4511e; /* Orange */
    //     color: #fff;
    //     padding: 100px 25px;

    //     border-radius: 0px;

    // }
}