.navbar-nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.logo-icon { 
    color: #4FAE54;
}
.navbar {
    margin-bottom: 0;
    background-color: #f4cc70;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover{
    color: #f4cc70 !important;
    background-color: #fff !important;
}

.navbar-nav li.active a{
    color: #6ab187 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.nav-item {
    margin-left: 3em;
}