.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\A0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}
.flag-icon-ad {
  background-image: url(/static/media/ad.ead76043.svg);
}
.flag-icon-ad.flag-icon-squared {
  background-image: url(/static/media/ad.313cc919.svg);
}
.flag-icon-ae {
  background-image: url(/static/media/ae.d8741634.svg);
}
.flag-icon-ae.flag-icon-squared {
  background-image: url(/static/media/ae.d5017bce.svg);
}
.flag-icon-af {
  background-image: url(/static/media/af.da6dc167.svg);
}
.flag-icon-af.flag-icon-squared {
  background-image: url(/static/media/af.68d6fe6f.svg);
}
.flag-icon-ag {
  background-image: url(/static/media/ag.55985ed5.svg);
}
.flag-icon-ag.flag-icon-squared {
  background-image: url(/static/media/ag.f1c7ec53.svg);
}
.flag-icon-ai {
  background-image: url(/static/media/ai.867c1867.svg);
}
.flag-icon-ai.flag-icon-squared {
  background-image: url(/static/media/ai.ee6ee9bc.svg);
}
.flag-icon-al {
  background-image: url(/static/media/al.cabcd942.svg);
}
.flag-icon-al.flag-icon-squared {
  background-image: url(/static/media/al.6948c7c3.svg);
}
.flag-icon-am {
  background-image: url(/static/media/am.57c71f36.svg);
}
.flag-icon-am.flag-icon-squared {
  background-image: url(/static/media/am.38853dfc.svg);
}
.flag-icon-ao {
  background-image: url(/static/media/ao.65de3f08.svg);
}
.flag-icon-ao.flag-icon-squared {
  background-image: url(/static/media/ao.fdebe4e8.svg);
}
.flag-icon-aq {
  background-image: url(/static/media/aq.21ec1b9c.svg);
}
.flag-icon-aq.flag-icon-squared {
  background-image: url(/static/media/aq.c8605782.svg);
}
.flag-icon-ar {
  background-image: url(/static/media/ar.d66bd9e8.svg);
}
.flag-icon-ar.flag-icon-squared {
  background-image: url(/static/media/ar.712051b3.svg);
}
.flag-icon-as {
  background-image: url(/static/media/as.4c218266.svg);
}
.flag-icon-as.flag-icon-squared {
  background-image: url(/static/media/as.f383cf21.svg);
}
.flag-icon-at {
  background-image: url(/static/media/at.dc0cdb42.svg);
}
.flag-icon-at.flag-icon-squared {
  background-image: url(/static/media/at.44a8ad33.svg);
}
.flag-icon-au {
  background-image: url(/static/media/au.579af05f.svg);
}
.flag-icon-au.flag-icon-squared {
  background-image: url(/static/media/au.234917b3.svg);
}
.flag-icon-aw {
  background-image: url(/static/media/aw.f631ae0a.svg);
}
.flag-icon-aw.flag-icon-squared {
  background-image: url(/static/media/aw.47023705.svg);
}
.flag-icon-ax {
  background-image: url(/static/media/ax.4ef22d97.svg);
}
.flag-icon-ax.flag-icon-squared {
  background-image: url(/static/media/ax.9379f20a.svg);
}
.flag-icon-az {
  background-image: url(/static/media/az.f0dc7933.svg);
}
.flag-icon-az.flag-icon-squared {
  background-image: url(/static/media/az.e79738c6.svg);
}
.flag-icon-ba {
  background-image: url(/static/media/ba.b2361911.svg);
}
.flag-icon-ba.flag-icon-squared {
  background-image: url(/static/media/ba.a8a55bbc.svg);
}
.flag-icon-bb {
  background-image: url(/static/media/bb.0a122f40.svg);
}
.flag-icon-bb.flag-icon-squared {
  background-image: url(/static/media/bb.1ba95d58.svg);
}
.flag-icon-bd {
  background-image: url(/static/media/bd.6bc03e5a.svg);
}
.flag-icon-bd.flag-icon-squared {
  background-image: url(/static/media/bd.ac8d97bc.svg);
}
.flag-icon-be {
  background-image: url(/static/media/be.3e206ccb.svg);
}
.flag-icon-be.flag-icon-squared {
  background-image: url(/static/media/be.e83467b8.svg);
}
.flag-icon-bf {
  background-image: url(/static/media/bf.d5ebc193.svg);
}
.flag-icon-bf.flag-icon-squared {
  background-image: url(/static/media/bf.4a2dc342.svg);
}
.flag-icon-bg {
  background-image: url(/static/media/bg.247feeba.svg);
}
.flag-icon-bg.flag-icon-squared {
  background-image: url(/static/media/bg.fd31fa36.svg);
}
.flag-icon-bh {
  background-image: url(/static/media/bh.44ef7f2d.svg);
}
.flag-icon-bh.flag-icon-squared {
  background-image: url(/static/media/bh.871933eb.svg);
}
.flag-icon-bi {
  background-image: url(/static/media/bi.aec32be8.svg);
}
.flag-icon-bi.flag-icon-squared {
  background-image: url(/static/media/bi.fe000991.svg);
}
.flag-icon-bj {
  background-image: url(/static/media/bj.e0fd9acd.svg);
}
.flag-icon-bj.flag-icon-squared {
  background-image: url(/static/media/bj.56a63073.svg);
}
.flag-icon-bl {
  background-image: url(/static/media/bl.6bc0921e.svg);
}
.flag-icon-bl.flag-icon-squared {
  background-image: url(/static/media/bl.192ca9f3.svg);
}
.flag-icon-bm {
  background-image: url(/static/media/bm.3c3a4bb2.svg);
}
.flag-icon-bm.flag-icon-squared {
  background-image: url(/static/media/bm.62e57b0d.svg);
}
.flag-icon-bn {
  background-image: url(/static/media/bn.8f92a2a6.svg);
}
.flag-icon-bn.flag-icon-squared {
  background-image: url(/static/media/bn.fbe8d8b2.svg);
}
.flag-icon-bo {
  background-image: url(/static/media/bo.b8675736.svg);
}
.flag-icon-bo.flag-icon-squared {
  background-image: url(/static/media/bo.6fb296d5.svg);
}
.flag-icon-bq {
  background-image: url(/static/media/bq.2c52a7ba.svg);
}
.flag-icon-bq.flag-icon-squared {
  background-image: url(/static/media/bq.33213090.svg);
}
.flag-icon-br {
  background-image: url(/static/media/br.1a59cea1.svg);
}
.flag-icon-br.flag-icon-squared {
  background-image: url(/static/media/br.78de6acf.svg);
}
.flag-icon-bs {
  background-image: url(/static/media/bs.d7739402.svg);
}
.flag-icon-bs.flag-icon-squared {
  background-image: url(/static/media/bs.06f208ef.svg);
}
.flag-icon-bt {
  background-image: url(/static/media/bt.ba78c82b.svg);
}
.flag-icon-bt.flag-icon-squared {
  background-image: url(/static/media/bt.a8c715fb.svg);
}
.flag-icon-bv {
  background-image: url(/static/media/bv.335d777f.svg);
}
.flag-icon-bv.flag-icon-squared {
  background-image: url(/static/media/bv.fb576f4e.svg);
}
.flag-icon-bw {
  background-image: url(/static/media/bw.3019b827.svg);
}
.flag-icon-bw.flag-icon-squared {
  background-image: url(/static/media/bw.ee5c04fc.svg);
}
.flag-icon-by {
  background-image: url(/static/media/by.c37b472c.svg);
}
.flag-icon-by.flag-icon-squared {
  background-image: url(/static/media/by.f96a9f20.svg);
}
.flag-icon-bz {
  background-image: url(/static/media/bz.54bf4573.svg);
}
.flag-icon-bz.flag-icon-squared {
  background-image: url(/static/media/bz.43b35557.svg);
}
.flag-icon-ca {
  background-image: url(/static/media/ca.17ac1874.svg);
}
.flag-icon-ca.flag-icon-squared {
  background-image: url(/static/media/ca.fc2f2c1d.svg);
}
.flag-icon-cc {
  background-image: url(/static/media/cc.df17cb00.svg);
}
.flag-icon-cc.flag-icon-squared {
  background-image: url(/static/media/cc.eef7f863.svg);
}
.flag-icon-cd {
  background-image: url(/static/media/cd.8316eaf8.svg);
}
.flag-icon-cd.flag-icon-squared {
  background-image: url(/static/media/cd.ee26ac27.svg);
}
.flag-icon-cf {
  background-image: url(/static/media/cf.20a25c2a.svg);
}
.flag-icon-cf.flag-icon-squared {
  background-image: url(/static/media/cf.bd69d342.svg);
}
.flag-icon-cg {
  background-image: url(/static/media/cg.2e89ed7e.svg);
}
.flag-icon-cg.flag-icon-squared {
  background-image: url(/static/media/cg.130e4bd0.svg);
}
.flag-icon-ch {
  background-image: url(/static/media/ch.c493a4ec.svg);
}
.flag-icon-ch.flag-icon-squared {
  background-image: url(/static/media/ch.12ad982c.svg);
}
.flag-icon-ci {
  background-image: url(/static/media/ci.18fced23.svg);
}
.flag-icon-ci.flag-icon-squared {
  background-image: url(/static/media/ci.02f0fd19.svg);
}
.flag-icon-ck {
  background-image: url(/static/media/ck.842fc3e1.svg);
}
.flag-icon-ck.flag-icon-squared {
  background-image: url(/static/media/ck.437f1c96.svg);
}
.flag-icon-cl {
  background-image: url(/static/media/cl.6aff5a42.svg);
}
.flag-icon-cl.flag-icon-squared {
  background-image: url(/static/media/cl.24a7ff77.svg);
}
.flag-icon-cm {
  background-image: url(/static/media/cm.af072c01.svg);
}
.flag-icon-cm.flag-icon-squared {
  background-image: url(/static/media/cm.809d4c84.svg);
}
.flag-icon-cn {
  background-image: url(/static/media/cn.5e5918ff.svg);
}
.flag-icon-cn.flag-icon-squared {
  background-image: url(/static/media/cn.bedfd890.svg);
}
.flag-icon-co {
  background-image: url(/static/media/co.bfda7e86.svg);
}
.flag-icon-co.flag-icon-squared {
  background-image: url(/static/media/co.ee16270e.svg);
}
.flag-icon-cr {
  background-image: url(/static/media/cr.60862cdf.svg);
}
.flag-icon-cr.flag-icon-squared {
  background-image: url(/static/media/cr.7869c8a8.svg);
}
.flag-icon-cu {
  background-image: url(/static/media/cu.15dee695.svg);
}
.flag-icon-cu.flag-icon-squared {
  background-image: url(/static/media/cu.e509a089.svg);
}
.flag-icon-cv {
  background-image: url(/static/media/cv.e7a576cf.svg);
}
.flag-icon-cv.flag-icon-squared {
  background-image: url(/static/media/cv.ab2ae825.svg);
}
.flag-icon-cw {
  background-image: url(/static/media/cw.42b4e8a5.svg);
}
.flag-icon-cw.flag-icon-squared {
  background-image: url(/static/media/cw.723c05c5.svg);
}
.flag-icon-cx {
  background-image: url(/static/media/cx.a3a129f1.svg);
}
.flag-icon-cx.flag-icon-squared {
  background-image: url(/static/media/cx.74cec426.svg);
}
.flag-icon-cy {
  background-image: url(/static/media/cy.805568ec.svg);
}
.flag-icon-cy.flag-icon-squared {
  background-image: url(/static/media/cy.1b7095f2.svg);
}
.flag-icon-cz {
  background-image: url(/static/media/cz.b68729d8.svg);
}
.flag-icon-cz.flag-icon-squared {
  background-image: url(/static/media/cz.5d1c62c2.svg);
}
.flag-icon-de {
  background-image: url(/static/media/de.a51d522f.svg);
}
.flag-icon-de.flag-icon-squared {
  background-image: url(/static/media/de.4eb7af0d.svg);
}
.flag-icon-dj {
  background-image: url(/static/media/dj.9e5f122a.svg);
}
.flag-icon-dj.flag-icon-squared {
  background-image: url(/static/media/dj.f2abe74e.svg);
}
.flag-icon-dk {
  background-image: url(/static/media/dk.6d3fd354.svg);
}
.flag-icon-dk.flag-icon-squared {
  background-image: url(/static/media/dk.68f5f896.svg);
}
.flag-icon-dm {
  background-image: url(/static/media/dm.26eebc61.svg);
}
.flag-icon-dm.flag-icon-squared {
  background-image: url(/static/media/dm.0c25d1c9.svg);
}
.flag-icon-do {
  background-image: url(/static/media/do.b458ed8d.svg);
}
.flag-icon-do.flag-icon-squared {
  background-image: url(/static/media/do.46ecd3f1.svg);
}
.flag-icon-dz {
  background-image: url(/static/media/dz.cbc327cb.svg);
}
.flag-icon-dz.flag-icon-squared {
  background-image: url(/static/media/dz.cd764f68.svg);
}
.flag-icon-ec {
  background-image: url(/static/media/ec.a5936cd5.svg);
}
.flag-icon-ec.flag-icon-squared {
  background-image: url(/static/media/ec.0ccc7990.svg);
}
.flag-icon-ee {
  background-image: url(/static/media/ee.800c650f.svg);
}
.flag-icon-ee.flag-icon-squared {
  background-image: url(/static/media/ee.6d1e401a.svg);
}
.flag-icon-eg {
  background-image: url(/static/media/eg.6b3ede57.svg);
}
.flag-icon-eg.flag-icon-squared {
  background-image: url(/static/media/eg.855377c1.svg);
}
.flag-icon-eh {
  background-image: url(/static/media/eh.a23d3ca1.svg);
}
.flag-icon-eh.flag-icon-squared {
  background-image: url(/static/media/eh.285f85bd.svg);
}
.flag-icon-er {
  background-image: url(/static/media/er.87023ff7.svg);
}
.flag-icon-er.flag-icon-squared {
  background-image: url(/static/media/er.3ad6e1e3.svg);
}
.flag-icon-es {
  background-image: url(/static/media/es.2d0caa1a.svg);
}
.flag-icon-es.flag-icon-squared {
  background-image: url(/static/media/es.8020fcd8.svg);
}
.flag-icon-et {
  background-image: url(/static/media/et.c7a568b5.svg);
}
.flag-icon-et.flag-icon-squared {
  background-image: url(/static/media/et.36557b8c.svg);
}
.flag-icon-fi {
  background-image: url(/static/media/fi.ed0d202e.svg);
}
.flag-icon-fi.flag-icon-squared {
  background-image: url(/static/media/fi.c09b6701.svg);
}
.flag-icon-fj {
  background-image: url(/static/media/fj.06a2a0a5.svg);
}
.flag-icon-fj.flag-icon-squared {
  background-image: url(/static/media/fj.145f6e91.svg);
}
.flag-icon-fk {
  background-image: url(/static/media/fk.9afe00c8.svg);
}
.flag-icon-fk.flag-icon-squared {
  background-image: url(/static/media/fk.0346c508.svg);
}
.flag-icon-fm {
  background-image: url(/static/media/fm.158c1a99.svg);
}
.flag-icon-fm.flag-icon-squared {
  background-image: url(/static/media/fm.80592cbb.svg);
}
.flag-icon-fo {
  background-image: url(/static/media/fo.b2a83814.svg);
}
.flag-icon-fo.flag-icon-squared {
  background-image: url(/static/media/fo.727b464e.svg);
}
.flag-icon-fr {
  background-image: url(/static/media/fr.5f045d2c.svg);
}
.flag-icon-fr.flag-icon-squared {
  background-image: url(/static/media/fr.be1df903.svg);
}
.flag-icon-ga {
  background-image: url(/static/media/ga.94225722.svg);
}
.flag-icon-ga.flag-icon-squared {
  background-image: url(/static/media/ga.09eba4c8.svg);
}
.flag-icon-gb {
  background-image: url(/static/media/gb.26f575fe.svg);
}
.flag-icon-gb.flag-icon-squared {
  background-image: url(/static/media/gb.044f7b44.svg);
}
.flag-icon-gd {
  background-image: url(/static/media/gd.3fcac19b.svg);
}
.flag-icon-gd.flag-icon-squared {
  background-image: url(/static/media/gd.14c87934.svg);
}
.flag-icon-ge {
  background-image: url(/static/media/ge.616a9f1e.svg);
}
.flag-icon-ge.flag-icon-squared {
  background-image: url(/static/media/ge.dc17a92d.svg);
}
.flag-icon-gf {
  background-image: url(/static/media/gf.0c190d18.svg);
}
.flag-icon-gf.flag-icon-squared {
  background-image: url(/static/media/gf.142f9db2.svg);
}
.flag-icon-gg {
  background-image: url(/static/media/gg.bb803fec.svg);
}
.flag-icon-gg.flag-icon-squared {
  background-image: url(/static/media/gg.c2b5483a.svg);
}
.flag-icon-gh {
  background-image: url(/static/media/gh.beaf26e1.svg);
}
.flag-icon-gh.flag-icon-squared {
  background-image: url(/static/media/gh.1ab7e23a.svg);
}
.flag-icon-gi {
  background-image: url(/static/media/gi.6d2c289a.svg);
}
.flag-icon-gi.flag-icon-squared {
  background-image: url(/static/media/gi.e833214f.svg);
}
.flag-icon-gl {
  background-image: url(/static/media/gl.16733452.svg);
}
.flag-icon-gl.flag-icon-squared {
  background-image: url(/static/media/gl.cbc3b4bf.svg);
}
.flag-icon-gm {
  background-image: url(/static/media/gm.ad71e499.svg);
}
.flag-icon-gm.flag-icon-squared {
  background-image: url(/static/media/gm.69f9b331.svg);
}
.flag-icon-gn {
  background-image: url(/static/media/gn.7136fba9.svg);
}
.flag-icon-gn.flag-icon-squared {
  background-image: url(/static/media/gn.a6a97b66.svg);
}
.flag-icon-gp {
  background-image: url(/static/media/gp.dc2fad88.svg);
}
.flag-icon-gp.flag-icon-squared {
  background-image: url(/static/media/gp.f270c0dc.svg);
}
.flag-icon-gq {
  background-image: url(/static/media/gq.c0f67260.svg);
}
.flag-icon-gq.flag-icon-squared {
  background-image: url(/static/media/gq.6cd4d669.svg);
}
.flag-icon-gr {
  background-image: url(/static/media/gr.8559fb8b.svg);
}
.flag-icon-gr.flag-icon-squared {
  background-image: url(/static/media/gr.04d30c88.svg);
}
.flag-icon-gs {
  background-image: url(/static/media/gs.ffdcf7e8.svg);
}
.flag-icon-gs.flag-icon-squared {
  background-image: url(/static/media/gs.57397584.svg);
}
.flag-icon-gt {
  background-image: url(/static/media/gt.b484cf21.svg);
}
.flag-icon-gt.flag-icon-squared {
  background-image: url(/static/media/gt.46328090.svg);
}
.flag-icon-gu {
  background-image: url(/static/media/gu.b89b682e.svg);
}
.flag-icon-gu.flag-icon-squared {
  background-image: url(/static/media/gu.1406c5a9.svg);
}
.flag-icon-gw {
  background-image: url(/static/media/gw.1e33dcd6.svg);
}
.flag-icon-gw.flag-icon-squared {
  background-image: url(/static/media/gw.a987ff2c.svg);
}
.flag-icon-gy {
  background-image: url(/static/media/gy.6373016d.svg);
}
.flag-icon-gy.flag-icon-squared {
  background-image: url(/static/media/gy.625a1ab0.svg);
}
.flag-icon-hk {
  background-image: url(/static/media/hk.378ff44b.svg);
}
.flag-icon-hk.flag-icon-squared {
  background-image: url(/static/media/hk.c0a76dea.svg);
}
.flag-icon-hm {
  background-image: url(/static/media/hm.a6b406b9.svg);
}
.flag-icon-hm.flag-icon-squared {
  background-image: url(/static/media/hm.ca37bda6.svg);
}
.flag-icon-hn {
  background-image: url(/static/media/hn.538bcb99.svg);
}
.flag-icon-hn.flag-icon-squared {
  background-image: url(/static/media/hn.625e62aa.svg);
}
.flag-icon-hr {
  background-image: url(/static/media/hr.563d3c09.svg);
}
.flag-icon-hr.flag-icon-squared {
  background-image: url(/static/media/hr.dc70492e.svg);
}
.flag-icon-ht {
  background-image: url(/static/media/ht.439ff5b2.svg);
}
.flag-icon-ht.flag-icon-squared {
  background-image: url(/static/media/ht.bf2699c7.svg);
}
.flag-icon-hu {
  background-image: url(/static/media/hu.1f258db5.svg);
}
.flag-icon-hu.flag-icon-squared {
  background-image: url(/static/media/hu.4707577f.svg);
}
.flag-icon-id {
  background-image: url(/static/media/id.55e54db0.svg);
}
.flag-icon-id.flag-icon-squared {
  background-image: url(/static/media/id.d107c301.svg);
}
.flag-icon-ie {
  background-image: url(/static/media/ie.00653f90.svg);
}
.flag-icon-ie.flag-icon-squared {
  background-image: url(/static/media/ie.196f4bc1.svg);
}
.flag-icon-il {
  background-image: url(/static/media/il.6450d895.svg);
}
.flag-icon-il.flag-icon-squared {
  background-image: url(/static/media/il.5746b8c5.svg);
}
.flag-icon-im {
  background-image: url(/static/media/im.f359e4af.svg);
}
.flag-icon-im.flag-icon-squared {
  background-image: url(/static/media/im.063e4f27.svg);
}
.flag-icon-in {
  background-image: url(/static/media/in.b55580fd.svg);
}
.flag-icon-in.flag-icon-squared {
  background-image: url(/static/media/in.f9c870c7.svg);
}
.flag-icon-io {
  background-image: url(/static/media/io.c3a9a347.svg);
}
.flag-icon-io.flag-icon-squared {
  background-image: url(/static/media/io.60c16019.svg);
}
.flag-icon-iq {
  background-image: url(/static/media/iq.3e39395d.svg);
}
.flag-icon-iq.flag-icon-squared {
  background-image: url(/static/media/iq.b797eb0b.svg);
}
.flag-icon-ir {
  background-image: url(/static/media/ir.58c78eab.svg);
}
.flag-icon-ir.flag-icon-squared {
  background-image: url(/static/media/ir.5e7a66fb.svg);
}
.flag-icon-is {
  background-image: url(/static/media/is.bf6e98c2.svg);
}
.flag-icon-is.flag-icon-squared {
  background-image: url(/static/media/is.d2df5720.svg);
}
.flag-icon-it {
  background-image: url(/static/media/it.39d095fb.svg);
}
.flag-icon-it.flag-icon-squared {
  background-image: url(/static/media/it.d5204a17.svg);
}
.flag-icon-je {
  background-image: url(/static/media/je.ae6abe6e.svg);
}
.flag-icon-je.flag-icon-squared {
  background-image: url(/static/media/je.35c3c091.svg);
}
.flag-icon-jm {
  background-image: url(/static/media/jm.bb9c6557.svg);
}
.flag-icon-jm.flag-icon-squared {
  background-image: url(/static/media/jm.c2f79f60.svg);
}
.flag-icon-jo {
  background-image: url(/static/media/jo.4ac727e7.svg);
}
.flag-icon-jo.flag-icon-squared {
  background-image: url(/static/media/jo.95900b0b.svg);
}
.flag-icon-jp {
  background-image: url(/static/media/jp.abf6d360.svg);
}
.flag-icon-jp.flag-icon-squared {
  background-image: url(/static/media/jp.c43049c2.svg);
}
.flag-icon-ke {
  background-image: url(/static/media/ke.28bffdde.svg);
}
.flag-icon-ke.flag-icon-squared {
  background-image: url(/static/media/ke.cdbf16a8.svg);
}
.flag-icon-kg {
  background-image: url(/static/media/kg.7f25fc52.svg);
}
.flag-icon-kg.flag-icon-squared {
  background-image: url(/static/media/kg.5cd7c8e6.svg);
}
.flag-icon-kh {
  background-image: url(/static/media/kh.9e206ef9.svg);
}
.flag-icon-kh.flag-icon-squared {
  background-image: url(/static/media/kh.f7fb085f.svg);
}
.flag-icon-ki {
  background-image: url(/static/media/ki.f9be0945.svg);
}
.flag-icon-ki.flag-icon-squared {
  background-image: url(/static/media/ki.e4d0ec40.svg);
}
.flag-icon-km {
  background-image: url(/static/media/km.73fc71a8.svg);
}
.flag-icon-km.flag-icon-squared {
  background-image: url(/static/media/km.8dd5bdd7.svg);
}
.flag-icon-kn {
  background-image: url(/static/media/kn.262dffc8.svg);
}
.flag-icon-kn.flag-icon-squared {
  background-image: url(/static/media/kn.7444ddc5.svg);
}
.flag-icon-kp {
  background-image: url(/static/media/kp.bd080ebd.svg);
}
.flag-icon-kp.flag-icon-squared {
  background-image: url(/static/media/kp.b9a197f6.svg);
}
.flag-icon-kr {
  background-image: url(/static/media/kr.4e13befd.svg);
}
.flag-icon-kr.flag-icon-squared {
  background-image: url(/static/media/kr.b85cc3dc.svg);
}
.flag-icon-kw {
  background-image: url(/static/media/kw.d8c09028.svg);
}
.flag-icon-kw.flag-icon-squared {
  background-image: url(/static/media/kw.8fda8b38.svg);
}
.flag-icon-ky {
  background-image: url(/static/media/ky.f5d9d809.svg);
}
.flag-icon-ky.flag-icon-squared {
  background-image: url(/static/media/ky.bea1dbdd.svg);
}
.flag-icon-kz {
  background-image: url(/static/media/kz.0e744e4e.svg);
}
.flag-icon-kz.flag-icon-squared {
  background-image: url(/static/media/kz.63392ec4.svg);
}
.flag-icon-la {
  background-image: url(/static/media/la.6db54bae.svg);
}
.flag-icon-la.flag-icon-squared {
  background-image: url(/static/media/la.90b7d665.svg);
}
.flag-icon-lb {
  background-image: url(/static/media/lb.818a9149.svg);
}
.flag-icon-lb.flag-icon-squared {
  background-image: url(/static/media/lb.5fb37558.svg);
}
.flag-icon-lc {
  background-image: url(/static/media/lc.1f8cb283.svg);
}
.flag-icon-lc.flag-icon-squared {
  background-image: url(/static/media/lc.17a7302c.svg);
}
.flag-icon-li {
  background-image: url(/static/media/li.5c6e91bd.svg);
}
.flag-icon-li.flag-icon-squared {
  background-image: url(/static/media/li.963c7aa5.svg);
}
.flag-icon-lk {
  background-image: url(/static/media/lk.f4106211.svg);
}
.flag-icon-lk.flag-icon-squared {
  background-image: url(/static/media/lk.9822728d.svg);
}
.flag-icon-lr {
  background-image: url(/static/media/lr.5ed045da.svg);
}
.flag-icon-lr.flag-icon-squared {
  background-image: url(/static/media/lr.9d07aaa0.svg);
}
.flag-icon-ls {
  background-image: url(/static/media/ls.bfa2f185.svg);
}
.flag-icon-ls.flag-icon-squared {
  background-image: url(/static/media/ls.c18e9d9a.svg);
}
.flag-icon-lt {
  background-image: url(/static/media/lt.759bbeac.svg);
}
.flag-icon-lt.flag-icon-squared {
  background-image: url(/static/media/lt.f1a8d690.svg);
}
.flag-icon-lu {
  background-image: url(/static/media/lu.1ac4d60f.svg);
}
.flag-icon-lu.flag-icon-squared {
  background-image: url(/static/media/lu.246e0e71.svg);
}
.flag-icon-lv {
  background-image: url(/static/media/lv.dbff0718.svg);
}
.flag-icon-lv.flag-icon-squared {
  background-image: url(/static/media/lv.578aa332.svg);
}
.flag-icon-ly {
  background-image: url(/static/media/ly.f75b16b4.svg);
}
.flag-icon-ly.flag-icon-squared {
  background-image: url(/static/media/ly.a8a61db8.svg);
}
.flag-icon-ma {
  background-image: url(/static/media/ma.07997bbe.svg);
}
.flag-icon-ma.flag-icon-squared {
  background-image: url(/static/media/ma.86244aa5.svg);
}
.flag-icon-mc {
  background-image: url(/static/media/mc.749e995c.svg);
}
.flag-icon-mc.flag-icon-squared {
  background-image: url(/static/media/mc.a6daee7d.svg);
}
.flag-icon-md {
  background-image: url(/static/media/md.bba429bf.svg);
}
.flag-icon-md.flag-icon-squared {
  background-image: url(/static/media/md.63f49a60.svg);
}
.flag-icon-me {
  background-image: url(/static/media/me.dadc0f0c.svg);
}
.flag-icon-me.flag-icon-squared {
  background-image: url(/static/media/me.0456e73c.svg);
}
.flag-icon-mf {
  background-image: url(/static/media/mf.d2d3f46a.svg);
}
.flag-icon-mf.flag-icon-squared {
  background-image: url(/static/media/mf.210c4ae6.svg);
}
.flag-icon-mg {
  background-image: url(/static/media/mg.f2a14d46.svg);
}
.flag-icon-mg.flag-icon-squared {
  background-image: url(/static/media/mg.f3e5ef06.svg);
}
.flag-icon-mh {
  background-image: url(/static/media/mh.d44b1528.svg);
}
.flag-icon-mh.flag-icon-squared {
  background-image: url(/static/media/mh.0b4162ec.svg);
}
.flag-icon-mk {
  background-image: url(/static/media/mk.d1cfe0c7.svg);
}
.flag-icon-mk.flag-icon-squared {
  background-image: url(/static/media/mk.91289334.svg);
}
.flag-icon-ml {
  background-image: url(/static/media/ml.7d0a81ea.svg);
}
.flag-icon-ml.flag-icon-squared {
  background-image: url(/static/media/ml.ba541844.svg);
}
.flag-icon-mm {
  background-image: url(/static/media/mm.fa18e4a3.svg);
}
.flag-icon-mm.flag-icon-squared {
  background-image: url(/static/media/mm.7d0163c5.svg);
}
.flag-icon-mn {
  background-image: url(/static/media/mn.1c60e250.svg);
}
.flag-icon-mn.flag-icon-squared {
  background-image: url(/static/media/mn.10765d4c.svg);
}
.flag-icon-mo {
  background-image: url(/static/media/mo.2cf849c3.svg);
}
.flag-icon-mo.flag-icon-squared {
  background-image: url(/static/media/mo.5bb556f0.svg);
}
.flag-icon-mp {
  background-image: url(/static/media/mp.9f377cb9.svg);
}
.flag-icon-mp.flag-icon-squared {
  background-image: url(/static/media/mp.bc3b5c5f.svg);
}
.flag-icon-mq {
  background-image: url(/static/media/mq.be16d4d4.svg);
}
.flag-icon-mq.flag-icon-squared {
  background-image: url(/static/media/mq.b3c6d3a0.svg);
}
.flag-icon-mr {
  background-image: url(/static/media/mr.eadf639d.svg);
}
.flag-icon-mr.flag-icon-squared {
  background-image: url(/static/media/mr.449d1c39.svg);
}
.flag-icon-ms {
  background-image: url(/static/media/ms.80d6b397.svg);
}
.flag-icon-ms.flag-icon-squared {
  background-image: url(/static/media/ms.98bf5c5e.svg);
}
.flag-icon-mt {
  background-image: url(/static/media/mt.d6eccaef.svg);
}
.flag-icon-mt.flag-icon-squared {
  background-image: url(/static/media/mt.32605840.svg);
}
.flag-icon-mu {
  background-image: url(/static/media/mu.f30f99d8.svg);
}
.flag-icon-mu.flag-icon-squared {
  background-image: url(/static/media/mu.6362bb22.svg);
}
.flag-icon-mv {
  background-image: url(/static/media/mv.5091e702.svg);
}
.flag-icon-mv.flag-icon-squared {
  background-image: url(/static/media/mv.a82f329b.svg);
}
.flag-icon-mw {
  background-image: url(/static/media/mw.f9e36b31.svg);
}
.flag-icon-mw.flag-icon-squared {
  background-image: url(/static/media/mw.2d49b1f1.svg);
}
.flag-icon-mx {
  background-image: url(/static/media/mx.2101146e.svg);
}
.flag-icon-mx.flag-icon-squared {
  background-image: url(/static/media/mx.98615f7f.svg);
}
.flag-icon-my {
  background-image: url(/static/media/my.190d4872.svg);
}
.flag-icon-my.flag-icon-squared {
  background-image: url(/static/media/my.b7e5d431.svg);
}
.flag-icon-mz {
  background-image: url(/static/media/mz.90037d6e.svg);
}
.flag-icon-mz.flag-icon-squared {
  background-image: url(/static/media/mz.6f84b9a5.svg);
}
.flag-icon-na {
  background-image: url(/static/media/na.24e7fe9c.svg);
}
.flag-icon-na.flag-icon-squared {
  background-image: url(/static/media/na.839f8f37.svg);
}
.flag-icon-nc {
  background-image: url(/static/media/nc.c5187b82.svg);
}
.flag-icon-nc.flag-icon-squared {
  background-image: url(/static/media/nc.72c93fae.svg);
}
.flag-icon-ne {
  background-image: url(/static/media/ne.01cfd5bd.svg);
}
.flag-icon-ne.flag-icon-squared {
  background-image: url(/static/media/ne.b109ddc7.svg);
}
.flag-icon-nf {
  background-image: url(/static/media/nf.14aaa3ef.svg);
}
.flag-icon-nf.flag-icon-squared {
  background-image: url(/static/media/nf.3315be59.svg);
}
.flag-icon-ng {
  background-image: url(/static/media/ng.580254d5.svg);
}
.flag-icon-ng.flag-icon-squared {
  background-image: url(/static/media/ng.5880b5c8.svg);
}
.flag-icon-ni {
  background-image: url(/static/media/ni.5830a76a.svg);
}
.flag-icon-ni.flag-icon-squared {
  background-image: url(/static/media/ni.5006277c.svg);
}
.flag-icon-nl {
  background-image: url(/static/media/nl.79e47ea0.svg);
}
.flag-icon-nl.flag-icon-squared {
  background-image: url(/static/media/nl.09ccf3b3.svg);
}
.flag-icon-no {
  background-image: url(/static/media/no.d3c5a0b6.svg);
}
.flag-icon-no.flag-icon-squared {
  background-image: url(/static/media/no.f59f9b3f.svg);
}
.flag-icon-np {
  background-image: url(/static/media/np.a9421038.svg);
}
.flag-icon-np.flag-icon-squared {
  background-image: url(/static/media/np.9655cd63.svg);
}
.flag-icon-nr {
  background-image: url(/static/media/nr.6bd0e7de.svg);
}
.flag-icon-nr.flag-icon-squared {
  background-image: url(/static/media/nr.06e0d963.svg);
}
.flag-icon-nu {
  background-image: url(/static/media/nu.dc7a2b14.svg);
}
.flag-icon-nu.flag-icon-squared {
  background-image: url(/static/media/nu.9d939773.svg);
}
.flag-icon-nz {
  background-image: url(/static/media/nz.248dbad1.svg);
}
.flag-icon-nz.flag-icon-squared {
  background-image: url(/static/media/nz.210dd911.svg);
}
.flag-icon-om {
  background-image: url(/static/media/om.2ebf43af.svg);
}
.flag-icon-om.flag-icon-squared {
  background-image: url(/static/media/om.f7223881.svg);
}
.flag-icon-pa {
  background-image: url(/static/media/pa.ced4a242.svg);
}
.flag-icon-pa.flag-icon-squared {
  background-image: url(/static/media/pa.d9eb83de.svg);
}
.flag-icon-pe {
  background-image: url(/static/media/pe.f0816c37.svg);
}
.flag-icon-pe.flag-icon-squared {
  background-image: url(/static/media/pe.ee097e50.svg);
}
.flag-icon-pf {
  background-image: url(/static/media/pf.d7a93501.svg);
}
.flag-icon-pf.flag-icon-squared {
  background-image: url(/static/media/pf.5f66e631.svg);
}
.flag-icon-pg {
  background-image: url(/static/media/pg.068910e2.svg);
}
.flag-icon-pg.flag-icon-squared {
  background-image: url(/static/media/pg.ae40d371.svg);
}
.flag-icon-ph {
  background-image: url(/static/media/ph.b7bec49e.svg);
}
.flag-icon-ph.flag-icon-squared {
  background-image: url(/static/media/ph.ad4ca7ce.svg);
}
.flag-icon-pk {
  background-image: url(/static/media/pk.2fddfea3.svg);
}
.flag-icon-pk.flag-icon-squared {
  background-image: url(/static/media/pk.a79bdd99.svg);
}
.flag-icon-pl {
  background-image: url(/static/media/pl.0ca345e7.svg);
}
.flag-icon-pl.flag-icon-squared {
  background-image: url(/static/media/pl.4a936767.svg);
}
.flag-icon-pm {
  background-image: url(/static/media/pm.deb31e6c.svg);
}
.flag-icon-pm.flag-icon-squared {
  background-image: url(/static/media/pm.d14d74e8.svg);
}
.flag-icon-pn {
  background-image: url(/static/media/pn.e56155c1.svg);
}
.flag-icon-pn.flag-icon-squared {
  background-image: url(/static/media/pn.011983ac.svg);
}
.flag-icon-pr {
  background-image: url(/static/media/pr.346139ed.svg);
}
.flag-icon-pr.flag-icon-squared {
  background-image: url(/static/media/pr.5fb60efd.svg);
}
.flag-icon-ps {
  background-image: url(/static/media/ps.04f55893.svg);
}
.flag-icon-ps.flag-icon-squared {
  background-image: url(/static/media/ps.0aecfee2.svg);
}
.flag-icon-pt {
  background-image: url(/static/media/pt.3c410042.svg);
}
.flag-icon-pt.flag-icon-squared {
  background-image: url(/static/media/pt.49204270.svg);
}
.flag-icon-pw {
  background-image: url(/static/media/pw.8bfbafe2.svg);
}
.flag-icon-pw.flag-icon-squared {
  background-image: url(/static/media/pw.def1819b.svg);
}
.flag-icon-py {
  background-image: url(/static/media/py.b7956113.svg);
}
.flag-icon-py.flag-icon-squared {
  background-image: url(/static/media/py.93030135.svg);
}
.flag-icon-qa {
  background-image: url(/static/media/qa.567371af.svg);
}
.flag-icon-qa.flag-icon-squared {
  background-image: url(/static/media/qa.103a7434.svg);
}
.flag-icon-re {
  background-image: url(/static/media/re.db8d6956.svg);
}
.flag-icon-re.flag-icon-squared {
  background-image: url(/static/media/re.535389c1.svg);
}
.flag-icon-ro {
  background-image: url(/static/media/ro.64515b6a.svg);
}
.flag-icon-ro.flag-icon-squared {
  background-image: url(/static/media/ro.e8cfe32c.svg);
}
.flag-icon-rs {
  background-image: url(/static/media/rs.9926aca8.svg);
}
.flag-icon-rs.flag-icon-squared {
  background-image: url(/static/media/rs.4eaf546a.svg);
}
.flag-icon-ru {
  background-image: url(/static/media/ru.eb6d8418.svg);
}
.flag-icon-ru.flag-icon-squared {
  background-image: url(/static/media/ru.0f6e3867.svg);
}
.flag-icon-rw {
  background-image: url(/static/media/rw.ad9eee21.svg);
}
.flag-icon-rw.flag-icon-squared {
  background-image: url(/static/media/rw.3c99a189.svg);
}
.flag-icon-sa {
  background-image: url(/static/media/sa.6cc2f890.svg);
}
.flag-icon-sa.flag-icon-squared {
  background-image: url(/static/media/sa.d2578130.svg);
}
.flag-icon-sb {
  background-image: url(/static/media/sb.9b02d1c7.svg);
}
.flag-icon-sb.flag-icon-squared {
  background-image: url(/static/media/sb.97023a5d.svg);
}
.flag-icon-sc {
  background-image: url(/static/media/sc.c5f77013.svg);
}
.flag-icon-sc.flag-icon-squared {
  background-image: url(/static/media/sc.18d0ba5c.svg);
}
.flag-icon-sd {
  background-image: url(/static/media/sd.b91bc7d2.svg);
}
.flag-icon-sd.flag-icon-squared {
  background-image: url(/static/media/sd.0942912c.svg);
}
.flag-icon-se {
  background-image: url(/static/media/se.0f303b3a.svg);
}
.flag-icon-se.flag-icon-squared {
  background-image: url(/static/media/se.8fd954d4.svg);
}
.flag-icon-sg {
  background-image: url(/static/media/sg.08622d7e.svg);
}
.flag-icon-sg.flag-icon-squared {
  background-image: url(/static/media/sg.d4402fa2.svg);
}
.flag-icon-sh {
  background-image: url(/static/media/sh.db2ed663.svg);
}
.flag-icon-sh.flag-icon-squared {
  background-image: url(/static/media/sh.2c0e7a98.svg);
}
.flag-icon-si {
  background-image: url(/static/media/si.59516929.svg);
}
.flag-icon-si.flag-icon-squared {
  background-image: url(/static/media/si.52d92007.svg);
}
.flag-icon-sj {
  background-image: url(/static/media/sj.209f1a8d.svg);
}
.flag-icon-sj.flag-icon-squared {
  background-image: url(/static/media/sj.5c02688a.svg);
}
.flag-icon-sk {
  background-image: url(/static/media/sk.daee0d7f.svg);
}
.flag-icon-sk.flag-icon-squared {
  background-image: url(/static/media/sk.e4388552.svg);
}
.flag-icon-sl {
  background-image: url(/static/media/sl.e22f0ea3.svg);
}
.flag-icon-sl.flag-icon-squared {
  background-image: url(/static/media/sl.98468e8e.svg);
}
.flag-icon-sm {
  background-image: url(/static/media/sm.6b9322fe.svg);
}
.flag-icon-sm.flag-icon-squared {
  background-image: url(/static/media/sm.c1143f65.svg);
}
.flag-icon-sn {
  background-image: url(/static/media/sn.66286418.svg);
}
.flag-icon-sn.flag-icon-squared {
  background-image: url(/static/media/sn.b3447079.svg);
}
.flag-icon-so {
  background-image: url(/static/media/so.c76d906b.svg);
}
.flag-icon-so.flag-icon-squared {
  background-image: url(/static/media/so.381e0656.svg);
}
.flag-icon-sr {
  background-image: url(/static/media/sr.2db9d92e.svg);
}
.flag-icon-sr.flag-icon-squared {
  background-image: url(/static/media/sr.da031167.svg);
}
.flag-icon-ss {
  background-image: url(/static/media/ss.39504001.svg);
}
.flag-icon-ss.flag-icon-squared {
  background-image: url(/static/media/ss.f0639fa5.svg);
}
.flag-icon-st {
  background-image: url(/static/media/st.dafd1b54.svg);
}
.flag-icon-st.flag-icon-squared {
  background-image: url(/static/media/st.176ebc09.svg);
}
.flag-icon-sv {
  background-image: url(/static/media/sv.d634f9a6.svg);
}
.flag-icon-sv.flag-icon-squared {
  background-image: url(/static/media/sv.3079f878.svg);
}
.flag-icon-sx {
  background-image: url(/static/media/sx.cb86d088.svg);
}
.flag-icon-sx.flag-icon-squared {
  background-image: url(/static/media/sx.1fc55ded.svg);
}
.flag-icon-sy {
  background-image: url(/static/media/sy.02b9a07a.svg);
}
.flag-icon-sy.flag-icon-squared {
  background-image: url(/static/media/sy.8b012c14.svg);
}
.flag-icon-sz {
  background-image: url(/static/media/sz.aeb0c7ef.svg);
}
.flag-icon-sz.flag-icon-squared {
  background-image: url(/static/media/sz.f3433e04.svg);
}
.flag-icon-tc {
  background-image: url(/static/media/tc.8f88612b.svg);
}
.flag-icon-tc.flag-icon-squared {
  background-image: url(/static/media/tc.d8595b03.svg);
}
.flag-icon-td {
  background-image: url(/static/media/td.7a610abb.svg);
}
.flag-icon-td.flag-icon-squared {
  background-image: url(/static/media/td.5bd58c9a.svg);
}
.flag-icon-tf {
  background-image: url(/static/media/tf.4ac80a53.svg);
}
.flag-icon-tf.flag-icon-squared {
  background-image: url(/static/media/tf.ea9f2477.svg);
}
.flag-icon-tg {
  background-image: url(/static/media/tg.b48a780a.svg);
}
.flag-icon-tg.flag-icon-squared {
  background-image: url(/static/media/tg.071e935e.svg);
}
.flag-icon-th {
  background-image: url(/static/media/th.87891755.svg);
}
.flag-icon-th.flag-icon-squared {
  background-image: url(/static/media/th.a88d006a.svg);
}
.flag-icon-tj {
  background-image: url(/static/media/tj.fa81647a.svg);
}
.flag-icon-tj.flag-icon-squared {
  background-image: url(/static/media/tj.76ed9f47.svg);
}
.flag-icon-tk {
  background-image: url(/static/media/tk.f2c3a640.svg);
}
.flag-icon-tk.flag-icon-squared {
  background-image: url(/static/media/tk.0f4fb02a.svg);
}
.flag-icon-tl {
  background-image: url(/static/media/tl.64f3c7e0.svg);
}
.flag-icon-tl.flag-icon-squared {
  background-image: url(/static/media/tl.2c6671da.svg);
}
.flag-icon-tm {
  background-image: url(/static/media/tm.8e52383f.svg);
}
.flag-icon-tm.flag-icon-squared {
  background-image: url(/static/media/tm.ebbd1999.svg);
}
.flag-icon-tn {
  background-image: url(/static/media/tn.64df3150.svg);
}
.flag-icon-tn.flag-icon-squared {
  background-image: url(/static/media/tn.4ce2a1d2.svg);
}
.flag-icon-to {
  background-image: url(/static/media/to.11bd964d.svg);
}
.flag-icon-to.flag-icon-squared {
  background-image: url(/static/media/to.10c5f4e3.svg);
}
.flag-icon-tr {
  background-image: url(/static/media/tr.a275961f.svg);
}
.flag-icon-tr.flag-icon-squared {
  background-image: url(/static/media/tr.60fb2434.svg);
}
.flag-icon-tt {
  background-image: url(/static/media/tt.c9d438bf.svg);
}
.flag-icon-tt.flag-icon-squared {
  background-image: url(/static/media/tt.4997474f.svg);
}
.flag-icon-tv {
  background-image: url(/static/media/tv.5c596d5c.svg);
}
.flag-icon-tv.flag-icon-squared {
  background-image: url(/static/media/tv.14adc05c.svg);
}
.flag-icon-tw {
  background-image: url(/static/media/tw.3101336b.svg);
}
.flag-icon-tw.flag-icon-squared {
  background-image: url(/static/media/tw.22084f47.svg);
}
.flag-icon-tz {
  background-image: url(/static/media/tz.5cff96bc.svg);
}
.flag-icon-tz.flag-icon-squared {
  background-image: url(/static/media/tz.bdfcd45f.svg);
}
.flag-icon-ua {
  background-image: url(/static/media/ua.3697c943.svg);
}
.flag-icon-ua.flag-icon-squared {
  background-image: url(/static/media/ua.b4866f4d.svg);
}
.flag-icon-ug {
  background-image: url(/static/media/ug.cd35ef48.svg);
}
.flag-icon-ug.flag-icon-squared {
  background-image: url(/static/media/ug.c5c09c98.svg);
}
.flag-icon-um {
  background-image: url(/static/media/um.deb31d49.svg);
}
.flag-icon-um.flag-icon-squared {
  background-image: url(/static/media/um.de83fba0.svg);
}
.flag-icon-us {
  background-image: url(/static/media/us.2e9ea4b0.svg);
}
.flag-icon-us.flag-icon-squared {
  background-image: url(/static/media/us.617c6a55.svg);
}
.flag-icon-uy {
  background-image: url(/static/media/uy.e2e873b3.svg);
}
.flag-icon-uy.flag-icon-squared {
  background-image: url(/static/media/uy.b193a351.svg);
}
.flag-icon-uz {
  background-image: url(/static/media/uz.89825e15.svg);
}
.flag-icon-uz.flag-icon-squared {
  background-image: url(/static/media/uz.ba5a631e.svg);
}
.flag-icon-va {
  background-image: url(/static/media/va.ccbda5d3.svg);
}
.flag-icon-va.flag-icon-squared {
  background-image: url(/static/media/va.65429831.svg);
}
.flag-icon-vc {
  background-image: url(/static/media/vc.7c2e07c3.svg);
}
.flag-icon-vc.flag-icon-squared {
  background-image: url(/static/media/vc.2fdb07a9.svg);
}
.flag-icon-ve {
  background-image: url(/static/media/ve.3b30a163.svg);
}
.flag-icon-ve.flag-icon-squared {
  background-image: url(/static/media/ve.caf0d098.svg);
}
.flag-icon-vg {
  background-image: url(/static/media/vg.42724b97.svg);
}
.flag-icon-vg.flag-icon-squared {
  background-image: url(/static/media/vg.0c6aa7d2.svg);
}
.flag-icon-vi {
  background-image: url(/static/media/vi.77f0687e.svg);
}
.flag-icon-vi.flag-icon-squared {
  background-image: url(/static/media/vi.7f8aaadb.svg);
}
.flag-icon-vn {
  background-image: url(/static/media/vn.0ec325e5.svg);
}
.flag-icon-vn.flag-icon-squared {
  background-image: url(/static/media/vn.06c2a5d5.svg);
}
.flag-icon-vu {
  background-image: url(/static/media/vu.ef7409f3.svg);
}
.flag-icon-vu.flag-icon-squared {
  background-image: url(/static/media/vu.e47a3472.svg);
}
.flag-icon-wf {
  background-image: url(/static/media/wf.ebb0ffa4.svg);
}
.flag-icon-wf.flag-icon-squared {
  background-image: url(/static/media/wf.9bfa83fc.svg);
}
.flag-icon-ws {
  background-image: url(/static/media/ws.ff22c667.svg);
}
.flag-icon-ws.flag-icon-squared {
  background-image: url(/static/media/ws.d23650da.svg);
}
.flag-icon-ye {
  background-image: url(/static/media/ye.b1c4636f.svg);
}
.flag-icon-ye.flag-icon-squared {
  background-image: url(/static/media/ye.c370e2e3.svg);
}
.flag-icon-yt {
  background-image: url(/static/media/yt.f1d1f1f5.svg);
}
.flag-icon-yt.flag-icon-squared {
  background-image: url(/static/media/yt.2098a4b8.svg);
}
.flag-icon-za {
  background-image: url(/static/media/za.d8aeb6ed.svg);
}
.flag-icon-za.flag-icon-squared {
  background-image: url(/static/media/za.73aeb814.svg);
}
.flag-icon-zm {
  background-image: url(/static/media/zm.726a5564.svg);
}
.flag-icon-zm.flag-icon-squared {
  background-image: url(/static/media/zm.645efc87.svg);
}
.flag-icon-zw {
  background-image: url(/static/media/zw.363a3e2a.svg);
}
.flag-icon-zw.flag-icon-squared {
  background-image: url(/static/media/zw.0db27ac5.svg);
}
.flag-icon-es-ct {
  background-image: url(/static/media/es-ct.d045e295.svg);
}
.flag-icon-es-ct.flag-icon-squared {
  background-image: url(/static/media/es-ct.e2e5dbf4.svg);
}
.flag-icon-eu {
  background-image: url(/static/media/eu.47ccbce8.svg);
}
.flag-icon-eu.flag-icon-squared {
  background-image: url(/static/media/eu.3dc9dcab.svg);
}
.flag-icon-gb-eng {
  background-image: url(/static/media/gb-eng.f337dc2c.svg);
}
.flag-icon-gb-eng.flag-icon-squared {
  background-image: url(/static/media/gb-eng.f445d5ea.svg);
}
.flag-icon-gb-nir {
  background-image: url(/static/media/gb-nir.bca162fd.svg);
}
.flag-icon-gb-nir.flag-icon-squared {
  background-image: url(/static/media/gb-nir.fe354126.svg);
}
.flag-icon-gb-sct {
  background-image: url(/static/media/gb-sct.6caf73b8.svg);
}
.flag-icon-gb-sct.flag-icon-squared {
  background-image: url(/static/media/gb-sct.bf86aba7.svg);
}
.flag-icon-gb-wls {
  background-image: url(/static/media/gb-wls.bcc94892.svg);
}
.flag-icon-gb-wls.flag-icon-squared {
  background-image: url(/static/media/gb-wls.c62bd081.svg);
}
.flag-icon-un {
  background-image: url(/static/media/un.cd3d61b6.svg);
}
.flag-icon-un.flag-icon-squared {
  background-image: url(/static/media/un.055d2421.svg);
}

/*# sourceMappingURL=main.29765d7f.css.map*/