.create-campaign-page {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    hr {
        margin-top: 2em;
        margin-bottom: 2em;

        // border-color: #007bff;
        // border-color: white;
        
    }
    
    h1 {
        font-weight: 300;
        text-align: center;
        padding: 0.2em;
        // color: #4FAE54
    }

    .custom-file {
        position: relative;
        display: inline-block;
        width: 100%;
        height: calc(2.25rem + 2px);
        margin-bottom: 0;
    }

    .custom-file-input {
        position: relative;
        z-index: 2;
        width: 100%;
        height: calc(2.25rem + 2px);
        margin: 0;
        opacity: 0;
    }
    .custom-file-label {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
    
    .custom-file-label::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: block;
        height: calc(calc(2.25rem + 2px) - 1px * 2);
        padding: .375rem .75rem;
        line-height: 1.5;
        color: #495057;
        content: "Browse";
        background-color: #e9ecef;
        border-left: 1px solid #ced4da;
        border-radius: 0 .25rem .25rem 0;
    }      

    #campaignContractModal {
        .loading {
            text-align: center;
            width: 100%;
            display: block;
        }
        .success {
            color: #4FAE54;
        }

        .button-container {
            margin: 1.5em 0;
        }
        .info-text {
            margin-top: 1em;
        }
    }
    
}
  